* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Parte do Logo, Navegação e Login  */
.container {
    position: relative;
}

.topo {
    background-color: #5499c7cc;
    padding: 20px 150px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 85%;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 20px;
    height: 24px;
    margin-right: 5px;
}

.logo h1 {
    font-size: 2rem;
    cursor: default;
    color: #000;
    font-family: "Poppins";
    font-weight: bold;
}

.login {
    right: 0;
    display: flex;
    align-items: center;
}

.bandeiras {
    position: relative;
    top: -8px;
    right: 30px;
}

.bandeiras a > img {
    width: 25px;
    height: 15px;
}

.img-BR {
    position: absolute;
    right: 7px;
}

.img-EUA {
    display: none;
    position: absolute;
    top: 20px;
    right: 7px;
}

.bandeiras button {
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.bandeiras button img {
    width: 13px;
    height: 8px;
}

.login-cadastro a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 12px;
}

.login-cadastro a:hover {
    color: #fff;
}

.navegacao {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 80%;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navLinks {
    width: 80%;
}

.navLinks ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.navLinks ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    font-family: "Poppins";
    font-weight: bold;
}

.navLinks ul li a:hover {
    color: #fff;
}

.pesquisa {
    position: relative;
}

.pesquisa input {
    border: none;
    height: 30px;
    outline: none;
    padding: 5px 25px 5px 5px;
    font-size: 16px;
    width: 250px;
}

.pesquisa input::-webkit-search-cancel-button {
    display: none;
}

.pesquisa img {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
}

.hamburguer {
    display: none;
}

/* Parte do Conteudo do Site */
.conteudo {
    margin-top: 88px;
}

.img-slider {
    overflow: hidden;
    box-shadow: 5px 5px 5px #bdbdbd;
}

.imagens {
    display: flex;
}

.imagens img {
    width: 100%;
    height: 650px;
}

.seta-esquerda {
    transform: rotate(180deg);
    width: 60px;
    position: absolute;
    top: 40%;
    cursor: pointer;
    opacity: 0.8;
}

.seta-direita {
    width: 60px;
    position: absolute;
    top: 40%;
    right: 0;
    cursor: pointer;
    opacity: 0.8;
}

.seta-esquerda:hover {
    opacity: 0.6;
}

.seta-direita:hover {
    opacity: 0.6;
}

.selecoes {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1100px;
    margin: 50px auto;
}

.selecione {
    padding: 60px;
    border: 1px solid #ccc;
    color: #5499C7;
}

.selecione:hover {
    box-shadow: 5px 5px 5px #ccc;
}

.selecione h3 {
    font-family: "Poppins";
}

.texto {
    width: 1000px;
    margin: 50px auto;
    border-bottom: 1px solid #ccc;
}

.texto ul {
    display: flex;
    text-align: center;
    list-style: none;
}

.texto ul li {
    margin: 30px;
    font-family: "Poppins";
    letter-spacing: 2px;
}

.texto ul li h3 {
    margin-bottom: 20px;
    color: #5499C7;
}

.texto ul li p {
    text-align: justify;
}

.galeria {
    width: 80%;
    margin: 50px auto;
    flex-wrap: wrap;
}

.galeria h2 {
    text-align: center;
    margin: 50px;
    font-family: "Poppins";
    color: #5499C7;
}

.paisagemCampo1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 40px;
    flex-wrap: wrap;
}

.paisagemCampo1 img {
    margin-bottom: 20px;
}

.paisagemCampo2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 40px;
    flex-wrap: wrap;
}

.paisagemCampo2 img {
    margin-bottom: 20px;
}

.copyright {
    text-align: center;
    margin: 20px;
    color: #acacac;
}

/* Parte do Rodapé */
.rodape {
    background-color: #5499C7;
    display: flex;
    padding: 30px 220px;
    justify-content: space-between;
}

.rodape ul {
    list-style: none;
    font-family: "Poppins";
}

.rodape ul li {
    margin: 10px;
    display: flex;
    align-items: center;
}

.rodape ul li h3 {
    margin-bottom: 20px;
}

.rodape ul li a {
    text-decoration: none;
    color: #000;
}

.rodape ul li img {
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .topo {
        justify-content: center;
        padding: 40px 56px;
    }

    .logo {
        position: absolute;
    }

    .navegacao {
        justify-content: center;
    }

    .pesquisa {
       display: none;
    }

    #navUL {
        display: none;
    }

    #navUL.show {
        display: block;
    } 

    .navLinks {
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center; 
        background-color: rgb(204, 204, 204, 0.8);
        
    }

    .navLinks ul {
        display: flex;
        flex-direction: column;
    }

    .navLinks ul li {
        margin: 20px 0;
    }

    .navLinks ul li a {
        padding: 20px 356px;
    }

    .login-cadastro a:first-child {
        font-size: 15px;
        position: absolute;
        right: 38px;
        top: 31px;
    }

    .login-cadastro a:last-child {
        display: none;
    }

    .bandeiras {
        display: none;
    }

    .hamburguer {
        display: block;
        margin: 20px;
        position: absolute;
        left: 20px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .hamburguer img {
        width: 25px;
    }

    .img-slider {
        display: none;
    }

    /* Parte do Conteudo */
    .selecoes {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 90%;
    }

    .selecione {
        margin-bottom: 10px;
    }

    .texto {
        width: 80%;

    }

    .galeria {
        width: 100%;
    }

    .paisagemCampo1 img {
        width: 100%;
    }

    .paisagemCampo2 img {
        width: 100%;
    }

    /* Parte do rodapé */
    .rodape {
        padding: 20px;
    }

    .rodape ul:first-child {
        display: none;
    }

    .rodape ul li p {
        font-size: 12px;
    }

    .rodape ul li a {
        font-size: 12px;
    }

    .rodape ul li h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .rodape ul li img {
        width: 12px;
        height: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1400px) {
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .topo {
        justify-content: center;
        padding: 40px 105px;
    }

    .logo {
        position: absolute;
    }

    .navegacao {
        justify-content: center;
    }

    .pesquisa {
       display: none;
    }

    #navUL {
        display: none;
    }

    #navUL.show {
        display: block;
    } 

    .navLinks {
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;       
        background-color: rgb(204, 204, 204, 0.8);
    }

    .navLinks ul {
        flex-direction: column;

    }

    .navLinks ul li {
        margin: 20px 0;
    }

    .navLinks ul li a {
        padding: 20px 670px;
    }

    .login-cadastro a:first-child {
        font-size: 15px;
        position: absolute;
        right: 200px;
        top: 34px;
    }

    .login-cadastro a:last-child {
        font-size: 15px;
        position: absolute;
        right: 90px;
        top: 34px;
    }

    .bandeiras {
        display: none;
    }

    .hamburguer {
        display: block;
        margin: 20px;
        position: absolute;
        left: 70px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .hamburguer img {
        width: 25px;
    }

    .imagens img {
        height: 500px;
    }

    .seta-esquerda {
        top: 32%;
    }

    .seta-direita {
        top: 32%;
    }

    /* Parte do Conteudo */
    .selecoes {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 90%;
    }

    .selecione {
        margin-bottom: 10px;
    }

    .texto {
        width: 80%;

    }

    /* Parte do rodapé */
    .rodape {
        padding: 20px 80px;
    }

    .rodape ul:first-child {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 900px) {
        .rodape {
            padding: 40px;
        }

        .rodape ul li p {
            font-size: 14px;
        }
    
        .rodape ul li a {
            font-size: 14px;
        }
    
        .rodape ul li h3 {
            font-size: 16px;
            margin-bottom: 5px;
        }
    
        .rodape ul li img {
            width: 12px;
            height: 10px;
        }
    }
}