@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, #5499C7, #2980B9);
    font-family: "Poppins";
}

.container {
    background-color: #fff;
    margin: 110px auto;
    padding: 40px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    width: 500px;
}

.logo h1 {
    color: #5499C7;
}

.nome-sobrenome {
    display: flex;
    justify-content: space-between;
}

.nome-sobrenome img {
    position: absolute;
    top: 80%;
}

.preencher {
    margin-top: 15px;
    position: relative;
}

.preencher label {
    font-size: 16px;
    display: block;
    font-weight: bold;
}

.preencher input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.preencher img {
    position: absolute;
    top: 54%;
    right: 10px;
    width: 20px;
    visibility: hidden;
}

.preencher span {
    position: absolute;
    top: 65px;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #E74C3C;
    font-size: 14px;
    visibility: hidden;
}

.preencher.erro span {
    visibility: visible;
}

.nome img {
    position: absolute;
    right: 53%;
}

.preencher.sucesso input {
    border: 1px solid #1ABC9C;
}

.preencher.erro input {
    border: 1px solid #E74C3C;
}

.preencher.sucesso img.sucesso-alerta {
    visibility: visible;
}

.preencher.erro img.erro-alerta {
    visibility: visible;
}

.container-check {
    font-weight: bold;
    margin: 30px auto;
    font-size: 14px;
}

.check1 {
    margin-bottom: 10px;
}

.container-check label a {
    color: #5499C7;
    text-decoration: none;
}

.container-check label a:hover {
    text-decoration: underline;
}

.botaoCadastrar {
    margin: 10px auto;
}

.botaoCadastrar button {
    font-family: "Poppins";
    font-weight: bold;
    width: 100%;
    height: 40px;
    background-color: #5499C7;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

.botaoCadastrar button:hover {
    background-color: #2980B9;
}

.login {
    text-align: center;
}

.login p {
    font-size: 14px;
}

.login p a {
    text-decoration: none;
    color: #5499C7;
}

.login p a:hover {
    text-decoration: underline;
}

/* Copyright */
.copyright i {
    color: #ccc;
    font-size: 14px;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .container {
        width: 450px;
    }
}